@model RequestFacilityGuarantorWarrantyModel
@{
    ViewData["Title"] = "فرم بارگذاری تصاویر چک/تضامین";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/new-layout/css/dropzone.min.css" />
    <link rel="stylesheet" type="text/css" href="~/new-layout/css/dropzone.custom.css" />
    <style type="text/css">
        #frmRequestFacilityWaranty,
        #frmRequestFacilityPromissoryNote {
            text-align: center;
        }

        .cheque-data {
            color: blueviolet;
        }
    </style>
}

@await Component.InvokeAsync("WorkFlowStepWizardHorizental", new { workFlow = WorkFlowEnum.RegisterGuarantor, requestId = Model.RequestFacilityGuarantorId })
<div id="warantyContentDiv">
    <div class="p-2 bg-white rounded-lg">
        <div class="d-flex align-items-center">
            <a href="@Url.Action("List","RequestFacilityGuarantor")" class="dark bg-white rounded-lg px-50 py-25 mr-50 d-flex align-items-center" title="بازگشت">
                <i class="bx bx-arrow-back rotate-180 font-medium-4"></i>
            </a>
            <div class="ml-1">
                <div class="font-medium-3 secondary darken-4 text-bold-700">
                    ثبت و بارگذاری تضامین
                </div>
            </div>
        </div>
        <div class="bg-white p-1 p-md-2 p-lg-3 rounded-lg">
            <div class="alert zl-bg-alert-warning border-warning border-accent-4 alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="بستن">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="d-flex">
                    <i class="bx bx-error-circle font-large-1"></i>
                    <div class="text-muted text-bold-400 font-small-3">
                        ضامن گرامی لطفا یک فقره چک با مشخصات زیر صادر کنید و سپس
                        اطلاعات آن را در سامانه صیاد ثبت کنید و در پایان تصویر چک را
                        بصورت خوانا و واضح بارگذاری نمایید.
                        <ul>
                            <li class="dark">مبلغ چک : @Model.WarantyAmount.ToString("N0") ريال</li>
                            <li class="dark">در وجه : راهکار مالی هیراد زرین به شناسه ملی 14008746613</li>
                            <li class="dark">تاریخ چک : @Model.ShamsiWarantyDate</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-1 p-2 d-flex flex-column align-items-center justify-content-start">
                <div class="text-bold-700 dark">
                    تصویر چک پر شده و ثبت شده در سامانه صیاد
                </div>
                <div class="text-bold-400 mb-2 mt-1 font-small-2">
                    فرمت‌های مجاز: png و jpg و gif و bmp و jpeg
                </div>
                <div class="w-100">
                    <form action="#" class="dropzone dropzone-area bg-white" id="frmRequestFacilityWaranty">
                        @if (Model.ChequeDocument != null)
                        {
                            var filePath = $"{Model.ChequeDocument.FilePath}?ver={Model.ChequeDocument.Version}";
                            <div id="previewRequestFacilityWaranty" class="dz-preview dz-image-preview">
                                <div class="dz-details">
                                    <a target='_blank' href='@filePath'>
                                        <img data-dz-thumbnail="" alt='چک' src="@filePath">
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="dz-message font-medium-1">انتخاب فایل ..</div>
                    </form>
                </div>
            </div>
            <form id="frmFields">
                <div class="row" style="margin-right:7px;margin-left:7px">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <input type="text" asp-for="DocumentNumber" class="form-control bg-transparent" style="text-align:center;direction:ltr;letter-spacing:5px" />
                            <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                    </div>
                </div>
            </form>
            <hr class="mt-4 mb-1" />
            <div class="text-right">
                <a class="btn btn-outline-secondary" asp-controller="RequestFacilityGuarantor" asp-action="List">
                    <span>بازگشت</span>
                </a>
                <button id="btnUploadWaranties" class="btn btn-zl-primary white">
                    ثبت و بارگذاری تضامین&nbsp;<i class="fal fa-upload"></i>
                </button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @*<partia name="_ValidationScriptsPartial" />*@
    <script src="~/new-layout/js/dropzone.min.js"></script>
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
    <script>
        var isEditMode = false; //@@Model.IsEditMode.ToString().ToLower();
        let requestFacilityWarantyFile = null;
        let promissoryNoteWarantyFile = null;
        $(document).ready(function () {
            $('#DocumentNumber').mask('9999999999999999', { placeholder: "________________" });
        });
        const fileIsImage = (file) => {
            return file.type == 'image/jpg' ||
                file.type == 'image/jpeg' ||
                file.type == 'image/png' ||
                file.type == 'image/gif' ||
                file.type == 'image/bmp';
        }

        Dropzone.options.frmRequestFacilityWaranty = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 1, // MB
            addRemoveLinks: true,
            dictRemoveFile: "حذف",
            autoProcessQueue: false,
            acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
            maxFiles: 1,
            accept: function (file, done) {
                debugger;
                if ($('#previewRequestFacilityWaranty').length > 0)
                    $('#previewRequestFacilityWaranty').remove();
                requestFacilityWarantyFile = file;
                console.log(typeof (file));
                done();
            },
            init: function () {
                this.on("maxfilesexceeded", function (file) {
                    showMessage('@ResourceFile.InfoTitle', 'فقط میتوانید یک فایل بارگذاری کنید!', icons.warning, '@ResourceFile.Close');
                    this.removeFile(file);
                });
                this.on("sending", function (file) {
                    debugger;
                });
                this.on("addedfile", file => {
                    debugger;
                    if (!fileIsImage(file)) {
                        this.removeFile(file);
                        showMessage('@ResourceFile.InfoTitle', 'فقط فایل های با پسوند .png,.jpg,.gif,.bmp,.jpeg میتوانید انتخاب کنید', icons.warning, '@ResourceFile.Close');
                    }
                });
            }
        };

        $('#btnUploadWaranties').click(function (e) {
            e.preventDefault();
            debugger;
            const formIsValid = $('#frmFields').valid();
            if (isEditMode == false && requestFacilityWarantyFile == null) {
                showMessage('@ResourceFile.InfoTitle', 'لطفا تصویر چک را بارگذاری کنید', icons.warning, '@ResourceFile.Close');
                return;
            }

            if (formIsValid) {
                showWaiting('warantyContentDiv', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
                let data = new FormData();
                data.append('ChequeFile', requestFacilityWarantyFile);
                data.append('DocumentNumber', $('#DocumentNumber').val());
                data.append('RequestFacilityGuarantorId', @Model.RequestFacilityGuarantorId);

                $.ajax({
                    type: 'post',
                    //dataType: 'json',
                    //contentType: "application/json; charset=utf-8",
                    processData: false,
                    contentType: false,
                    url: '/api/v1/RequestFacilityGuarantorWarranty/UploadWaranties',
                    data: data,// JSON.stringify(model),
                    success: function (result) {
                        hideWaiting('warantyContentDiv');
                        debugger;
                        if (result.isSuccess) {
                            showMessage('@ResourceFile.InfoTitle', 'کاربر گرامی<br/>ثبت و بارگذاری تضامین با موفقیت انجام شد،پرونده شما جهت بررسی و اقدام به کارشناسان ما ارسال شد', icons.success, '@ResourceFile.Close',
                                () => { window.location.replace('@Url.Action("List", "RequestFacilityGuarantor")'); });

                        }
                    },
                    error: function (error) {
                        hideWaiting('warantyContentDiv');
                        const exception = getExceptionMessageFromError(error);
                        if (exception != null)
                            showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                        else
                            showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                    }
                });
            }
            else {
                scrollToFirstError();
            }
        });
    </script>
}