@model SetNewPasswordModel

<form id="frmChangePassword" method="post">
    <div class="modal fade text-left" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="cpModalLabel" style="display: none;" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md" role="document">
            <div class="modal-content rounded-xl modal-md">
                <div class="modal-header">
                    <h4 class="modal-title dark" id="cpModalLabel">
                        تغییر کلمه عبور
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div id="change-password-modal-body" class="modal-body line-height-2">
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputOldPasswordGroupPrepend">
                                        <i style="font-size: 16pt;color: #2cacab;" class="fal fa-key"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" autocomplete="off" aria-describedby="inputOldPasswordGroupPrepend"
                                       style="text-align:center; direction:ltr" placeholder='کلمه عبور فعلی' asp-for="OldPassword">
                            </div>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputPasswordGroupPrepend">
                                        <i style="font-size: 16pt;color: #2cacab;" class="fal fa-key"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" autocomplete="off" aria-describedby="inputPasswordGroupPrepend"
                                       style="text-align:center; direction:ltr" placeholder='@ResourceFile.Password' asp-for="Password">
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputConfirmPasswordGroupPrepend">
                                        <i style="font-size: 16pt;color: #2cacab;" class="fal fa-key"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control" autocomplete="off" aria-describedby="inputConfirmPasswordGroupPrepend"
                                       style="text-align:center; direction:ltr" placeholder='تکرار کلمه عبور' asp-for="ConfirmPassword">
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">
                            <span>انصراف</span>
                        </a>
                        <button id="btnChangePassword" class="btn btn-zl-primary white">
                            <span>تغییر کلمه عبور</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />
<script>
    $('.change-password').click((e) => {
        debugger;
        e.preventDefault();
        $('#changePasswordModal').modal();
    });

    $("#btnChangePassword").click(function(e) {
        debugger;
        e.preventDefault();
        if ($("#frmChangePassword").valid()) {
            showWaiting('change-password-modal-body', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
            const model = {
                OldPassword: $("#OldPassword").val(),
                Password: $("#Password").val(),
                ConfirmPassword: $("#ConfirmPassword").val(),
            };

            $.ajax({
                type: 'post',
                //dataType: 'json',
                contentType: "application/json; charset=utf-8",
                url: '/api/v1/user/ChangePassword',
                data: JSON.stringify(model),
                success: function(result) {
                    debugger;
                    hideWaiting('change-password-modal-body');
                    debugger;
                    if (result.isSuccess) {
                        showMessage('@ResourceFile.InfoTitle', '@ResourceFile.MessageSuccess', icons.success, '@ResourceFile.Close',
                            () => { window.location = '/account/logout'; });
                    }
                },
                error: function(error) {
                    debugger;
                    hideWaiting('change-password-modal-body');
                    const exception = getExceptionMessageFromError(error);
                    if (exception != null)
                        showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                    else
                        showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                }
            });
        }
    });
</script>