@model ForgotPasswordModel

@{
    ViewData["Title"] = "فراموشی کلمه عبور";
    Layout = "/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="form-group mt-5">
    <div class="col-xl-6 col-lg-7 col-md-9 col-sm-12 col-12" style="margin-left:auto;margin-right:auto">
        <div class="card p-2">
            <form class="mb-2" id="frmForgotPassword">
                <div class="form-horizontal">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row mb-2">
                                <h4 class="col-md-12 text-center mb-1">رمز عبورتان را فراموش کرده اید؟</h4>
                                <div class="col-md-6 col-sm-12 text-md-left text-center text-md mb-1">
                                    <a asp-route="Login" class="card-link btn btn-outline-primary width-100">ورود</a>
                                </div>
                                <div class="col-md-6 col-sm-12 text-md-right text-center mb-1">
                                    <a asp-route="Register" class="card-link btn btn-outline-success width-100">ثبت نام</a>
                                </div>
                            </div>
                            <div class="text-muted text-center mb-2"><small class="line-height-2">کد ملی و شماره موبایلی که در هنگام ثبت نام ثبت کرده اید را وارد کنید تا رمز یکبار مصرف برای بازیابی کلمه عبور برای شما ارسال گردد</small></div>
                            <div id="mobileDiv">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputUserGroupPrepend">
                                                    <i style="font-size: 16pt;color: #2cacab;" class="fal fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" autocomplete="off" aria-describedby="inputUserGroupPrepend"
                                                   style="text-align:center; direction:ltr;letter-spacing:5px" asp-for="NationalCode">
                                        </div>
                                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputMobileGroupPrepend">
                                                    <i style="font-size: 16pt;color: #2cacab;" class="fal fa-mobile"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" autocomplete="off" aria-describedby="inputMobileGroupPrepend"
                                                   style="text-align:center; direction:ltr;letter-spacing:5px" asp-for="Mobile">
                                        </div>
                                        <span asp-validation-for="Mobile" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="otpDiv" style="display:none">
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p id="otpDescription">

                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputOtpGroupPrepend">
                                                    <i style="font-size: 16pt;color: #2cacab;" class="fal fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" autocomplete="off" aria-describedby="inputOtpGroupPrepend"
                                                   style="text-align:center; direction:ltr;letter-spacing:10px;font-size:15pt" asp-for="Otp">
                                        </div>
                                        <span asp-validation-for="Otp" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputPasswordGroupPrepend">
                                                    <i style="font-size: 16pt;color: #2cacab;" class="fal fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" autocomplete="off" aria-describedby="inputPasswordGroupPrepend"
                                                   style="text-align:center; direction:ltr" placeholder='@ResourceFile.Password' asp-for="Password">
                                        </div>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputConfirmPasswordGroupPrepend">
                                                    <i style="font-size: 16pt;color: #2cacab;" class="fal fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" autocomplete="off" aria-describedby="inputConfirmPasswordGroupPrepend"
                                                   style="text-align:center; direction:ltr" placeholder='تکرار کلمه عبور' asp-for="ConfirmPassword">
                                        </div>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="text-align:left">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <span style="letter-spacing:2px" id="countDownTimer"></span>
                                        <button type="button" id="btnReGenerateOtp" style="display:none" class="btn btn-outline-primary" >ارسال مجدد کد تایید</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                    <button id="btnSendOtp" class="btn btn-outline-primary">ارسال رمز یکبار مصرف</button>
                                    <button id="btnResetPassword" data-returnUrl="@Model.ReturnUrl" class="btn btn-outline-success" style="display:none">تغییر کلمه عبور</button>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="text-center mt-2 text-muted"><a asp-controller="Account" asp-action="Login">رمز عبورم را به خاطر آوردم</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section styles
    {
    <style type="text/css">
        .input-group-text {
            min-width: 50px !important;
        }

        #countDownTimer {
            font-size: 20pt;
            color: #36afae;
        }
    </style>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        let intervalId;
        $(document).ready(() => {
            $('#Mobile').mask('ZN000000000',
                {
                    placeholder: "شماره موبایل",
                    translation: {
                        Z: { pattern: /0/ },
                        N: { pattern: /9/ },
                        0: { pattern: /[0-9]/ }
                    }
                });

            $('#NationalCode').mask('0000000000',
                {
                    placeholder: "__________",
                    translation: {
                        0: { pattern: /[0-9]/ }
                    }
                });

            $('#Otp').mask('00000',
                {
                    placeholder: "_____",
                    translation: {
                        0: { pattern: /[0-9]/ }
                    }
                });
        });

        const startTimer = (duration, display) => {
            let timer = duration, minutes, seconds;
            display.text('');
            intervalId = setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text(minutes + ":" + seconds);
                console.log(minutes + ":" + seconds);
                if (--timer < 0) {
                    //$('#btnReGenerateOtp').show();
                    $('#btnResetPassword').hide();
                    $('#otpDiv').hide();
                    $('#mobileDiv').show();
                    $('#btnSendOtp').show();
                    clearInterval(intervalId);
                    console.log('clearInterval : ' + intervalId);
                }
            }, 1000);
        }

        $('#btnSendOtp').click((e) => {
            e.preventDefault();
            clearInterval(intervalId);
            if ($("#frmForgotPassword").valid()) {
                showWaiting('frmForgotPassword', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
                $.ajax({
                    type: 'post',
                    //dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url: '/api/v1/user/SendResetPasswordOtp',
                    data: JSON.stringify({ Mobile: $('#Mobile').val(), NationalCode: $('#NationalCode').val() }),
                    success: function (result) {
                        debugger;
                        hideWaiting('frmForgotPassword');
                        debugger;
                        if (result.isSuccess) {
                            $('#otpDescription').html(`در این قسمت کد 5 رقمی پیامک شده به شماره <b style='letter-spacing:2px'>${$('#Mobile').val()}</b> وارد کنید.`);
                            $('#mobileDiv').hide();
                            $(e.target).hide();
                            const count = 60 * 3;
                            const display = $('#countDownTimer');
                            $('#btnResetPassword').show();
                            $('#otpDiv').show();
                            startTimer(count, display);
                            new Worker()
                        }
                    },
                    error: function (error) {
                        debugger;
                        hideWaiting('frmForgotPassword');
                        const exception = getExceptionMessageFromError(error);
                        if (exception != null)
                            showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                        else
                            showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                    }
                });

            }
        });

        $("#btnResetPassword").click(function (e) {
            debugger;
            e.preventDefault();
            if ($("#frmForgotPassword").valid()) {
                showWaiting('frmForgotPassword', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
                const model = {
                    Mobile: $("#Mobile").val(),
                    Password: $("#Password").val(),
                    ConfirmPassword: $("#ConfirmPassword").val(),
                    NationalCode: $("#NationalCode").val(),
                    Otp: $("#Otp").val(),
                    RememberMe: true// $("#RememberMe").prop('checked')
                };

                $.ajax({
                    type: 'post',
                    //dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url: '/api/v1/user/ResetPassword',
                    data: JSON.stringify(model),
                    success: function (result) {
                        debugger;
                        hideWaiting('frmForgotPassword');
                        debugger;
                        if (result.isSuccess) {
                            showMessage('@ResourceFile.InfoTitle', '@ResourceFile.MessageSuccess', icons.success, '@ResourceFile.Close',
                                () => { window.location = '/login'; });
                            //window.location = $("#frmForgotPassword").attr("data-returnUrl");
                        }
                    },
                    error: function (error) {
                        debugger;
                        hideWaiting('frmForgotPassword');
                        const exception = getExceptionMessageFromError(error);
                        if (exception != null)
                            showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                        else
                            showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                    }
                });
            }
        });
    </script>
    }