@*@model RequestFacilityFilterModel*@
@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var ajaxUrl = "/api/v1/RequestFacility/SearchLeasingRequest";
    var ajaxExportUrl = "/api/v1/RequestFacility/SearchLeasingRequestExport";
    //if (User.IsInRole(Core.Entities.RoleEnum.AdminBankLeasing.ToString()))
    //{
    //    ajaxUrl = "/api/v1/RequestFacility/SearchAdminLeasingRequest";
    //    ajaxExportUrl = "/api/v1/RequestFacility/SearchAdminLeasingRequestExport";
    //}
}
@section styles{
    <link href="~/persianDatePicker/css/persianDatepicker-lightorang.css" rel="stylesheet" />
    <style type="text/css">
    </style>
}
<div id="requestGridDiv" class="p-2 bg-white rounded-lg">
    <div class="font-medium-3 secondary darken-4 text-bold-800 d-flex align-items-center">
        <i class="bx bx-align-right zl-text-secondary mr-25"></i>
        <span>جستجوی پیشرفته</span>
    </div>
    <div class="p-2 rounded-lg">
        <form id="filterForm" method="post">
            @await Component.InvokeAsync("RequestFacilityFilter", new { showWaitingStepsFilter = true, showFacilityStatus = true })
            
            <div class="row my-0 my-md-1">
                <div class=" col-md-12" style="text-align:left">
                    <button type="button" id="btnSearch" class="btn btn-zl-primary">
                        جستجو&nbsp;<i class="fal fa-search"></i>
                    </button>
                    <button id="btnExportToExcel" tabindex="5" class="btn btn-outline-info">
                        خروجی اکسل&nbsp;<i class="fal fa-file-excel-o"></i>
                    </button>
                </div>
            </div>
            <div class="row my-0 my-md-1">
                <div class="col-md-6 col-xs-12" style="text-align:right">
                    <div class="form-group">
                        <button id="btnAssignRequestsToUser" tabindex="5" class="btn btn-outline-info">
                            تخصیص درخواست(های) انتخاب شده به کارشناسان
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <table id="requestList" class="display" style="width:100%">
            <thead>
                <tr>
                    <th><div class='checkbox checkbox-primary'><input type='checkbox' id="checkAll" /><label for="checkAll"></label></div></th>
                    <th>#</th>
                    <th >اعتبار درخواستی(ريال)<br />بازه پرداخت</th>
                    <th >درخواست کننده<br />کد ملی/شناسه ملی</th>
                    <th >تاریخ درخواست</th>
                    <th >تاریخ آخرین اقدام</th>
                    <th >وضعیت</th>
                    <th scope="col" >امضاء قرارداد</th>
                    <th>کارشناس اقدام کننده</th>
                    <th scope="col" >اقدام</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade text-left" id="assignRequestsToUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel18" style="display: none;" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content rounded-xl modal-md">
            <div class="modal-header">
                <h4 class="modal-title dark" id="myModalLabel18">
                    تخصیص درخواست های تسهیلات به کارشناسان
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="بستن">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <form id="frmAssignRequestsToUser" method="post">
                <div class="modal-body line-height-2">
                    <div class="row">
                        <div class="col-md-12 col-xs-12" style="color:red;margin-bottom:15px" id="selectedRequestFacilityDescription">
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group">
                                <select name="OrganizationUserId" id="OrganizationUserId" class="form-control bg-transparent " asp-items="ViewBag.OrganizationUsers"
                                        data-val="true" data-val-required="کارشناس را تخصیص درخواست ها انتخاب کنید!">
                                    <option value="">انتخاب کارشناس</option>
                                </select>
                                <span class="text-danger field-validation-valid" data-valmsg-for="OrganizationUserId" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-right">
                        <a href="#" class="btn btn-outline-secondary" data-dismiss="modal">
                            <span>انصراف</span>
                        </a>
                        <button id="btnSave" class="btn btn-zl-primary white">
                            <span>تخصیص به کارشناس</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
        <script src="~/persianDatePicker/js/persianDatepicker.min.js"></script>
        @if (User.IsInRole(Core.Entities.RoleEnum.AdminBankLeasing.ToString()))
        {
            <script src="~/js/Dastine/Dastine-Config.js"></script>
            <script src="~/js/Dastine/Dastine.js"></script>
        }
    }
    <script>
        let selectedCertificateFromTokenByUIResult;
        let selectedCertificate;
        let digest;
        let signature;
        if ('@User.IsInRole(Core.Entities.RoleEnum.AdminBankLeasing.ToString())' == 'True') {
            function SelectCertificateFromTokenByUI(callback) {
                if (Dastine.isInstalled) {
                    const issuer = '';// document.getElementById('txtSelectCertificateFromTokenByUIIssuer').value;
                    const keyUsages = '';// document.getElementById('txtSelectCertificateFromTokenByUIKeyUsages').value;
                    try {
                        Dastine.SelectCertificateFromTokenByUI(issuer, keyUsages, function (event) {
                            selectedCertificateFromTokenByUIResult = event.data.Result;
                            if (selectedCertificateFromTokenByUIResult == 0)
                                callback(true);
                            else {
                                showMessage('@ResourceFile.InfoTitle', 'خطایی نامشخص رخ داده است<br/>لطفا نسبت به متصل بودن توکن سخت افزاری به سیستم کامپیوتر خود اطمینان حاصل کنید', icons.error, '@ResourceFile.Close');
                                callback(false);
                            }
                        });
                    }
                    catch (e) {
                        //alert(e);
                        showMessage('@ResourceFile.InfoTitle', e, icons.error, '@ResourceFile.Close');
                        callback(false);
                    }
                } else {
                    if (Dastine.errorMessage == 'DASTINE_NOT_INSTALLED') {
                        //alert(Dastine.errorMessage + '\n Get it from:\n' + DastineConfig.hostDownloadLink);
                        showMessage('@ResourceFile.InfoTitle', Dastine.errorMessage + '\n Get it from:\n' + DastineConfig.hostDownloadLink, icons.error, '@ResourceFile.Close');
                    }
                    else {
                        //alert(Dastine.errorMessage);
                        showMessage('@ResourceFile.InfoTitle', Dastine.errorMessage, icons.error, '@ResourceFile.Close');
                    }

                    callback(false);
                }
            }

            function ReadSelectedCertificate(callback) {
                debugger;
                if (Dastine.isInstalled) {
                    try {
                        Dastine.GetSelectedCertificate(function (event) {
                            selectedCertificate = event.data.Result;
                            callback(true);
                        });
                    }
                    catch (e) {
                        //alert(e);
                        showMessage('@ResourceFile.InfoTitle', e, icons.error, '@ResourceFile.Close');
                        callback(false);
                    }
                } else {
                    if (Dastine.errorMessage == 'DASTINE_NOT_INSTALLED') {
                        //alert(Dastine.errorMessage + '\n Get it from:\n' + DastineConfig.hostDownloadLink);
                        showMessage('@ResourceFile.InfoTitle', Dastine.errorMessage + '\n Get it from:\n' + DastineConfig.hostDownloadLink, icons.error, '@ResourceFile.Close');
                    }
                    else {
                        //alert(Dastine.errorMessage);
                        showMessage('@ResourceFile.InfoTitle', Dastine.errorMessage, icons.error, '@ResourceFile.Close');
                    }

                    callback(false);
                }
            }

            function SignMessage(digest, callback) {
                if (Dastine.isInstalled) {
                    try {
                        Dastine.Sign(digest, 'SHA1', function (event) {
                            if (event.data.Result == '18' || event.data.Result == '14') {
                                //alert('کلمه عبور وارد شده اشتباه می باشد!');
                                showMessage('@ResourceFile.InfoTitle', 'کلمه عبور وارد شده اشتباه می باشد!', icons.error, '@ResourceFile.Close');
                                callback(false);
                            }
                            else {
                                signature = event.data.Result;
                                callback(true);
                            }
                        });
                    }
                    catch (e) {
                        //alert(e);
                        showMessage('@ResourceFile.InfoTitle', e, icons.error, '@ResourceFile.Close');
                        callback(false);
                    }
                } else {
                    if (Dastine.errorMessage == 'DASTINE_NOT_INSTALLED') {
                        //alert(Dastine.errorMessage + '\n Get it from:\n' + DastineConfig.hostDownloadLink);
                        showMessage('@ResourceFile.InfoTitle', Dastine.errorMessage + '\n Get it from:\n' + DastineConfig.hostDownloadLink, icons.error, '@ResourceFile.Close');
                    }
                    else {
                        //alert(Dastine.errorMessage);
                        showMessage('@ResourceFile.InfoTitle', Dastine.errorMessage, icons.error, '@ResourceFile.Close');
                    }

                    callback(false);
                }
            }
        }
        let requestFacilityIdArray = [];
        let responsiveDatatable;
        $(document).ready(function () {
            $('div').removeClass('zl-active');
            $('#reportPage').addClass('zl-active');

            loadRequests();
        });

        //============
        const loadRequests = () => {
            responsiveDatatable = $('#requestList')
                .on('preXhr.dt', function (e, settings, data, a, b) {
                    //trigger before ajax call
                    //debugger;
                    //alert('preXhr');
                    showWaiting('requestList', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
                })
                .on('xhr.dt', function(e, settings, json, xhr) {
                    //trigger after ajax call
                    //debugger;
                    //alert('xhr');
                })
                .DataTable({
                    order: [],
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    rowReorder: false,
                    select: true,
                    searching: false,
                    paging: true,
                    ordering: false,
                    searching: false,
                    filtering: false,
                    info: true,
                    lengthMenu: [
                        [5, 10, 25, 50],
                        [5, 10, 25, 50]
                    ],
                    pageLength: 10,
                    //columnDefs: [{
                    //    targets: 0,
                    //    Id: function (td, cellData, rowData, row, col) {
                    //        debugger;
                    //        if (rowData[5] === 'Inactive') {
                    //            $(td).css('color', 'red');
                    //        }
                    //    }
                    //}],
                    columnDefs: [
                        //{ "visible": false, "targets": 0 },
                        //and in this case the < a href="//legacy.datatables.net/ref#bStateSave" > bStateSave</a> works regularly ....but then I would like to have responsive columns indicating responsive: {
                        {
                            details: false,
                            breakpoints: [
                                { name: 'desktop', width: Infinity },
                                { name: 'tablet-l', width: 1200 },
                                { name: 'tablet-p', width: 992 },
                                { name: 'mobile-l', width: 576 },
                                { name: 'mobile-p', width: 320 }
                            ]
                        },
                        {
                            targets: [0, 1, 2, 3, 4, 5, 6, 7, 8,9],
                            className: 'dt-center',
                        },
                        {
                            targets: 0,
                            render: function (data, type, row, meta) {
                                return `<div class='checkbox checkbox-primary'><input type='checkbox' class='select-row' value='${data}' id='chk_${data}'/><label for='chk_${data}'></label></div>`;
                            }
                        },
                        {
                            targets: 2,
                            render: function (data, type, row, meta) {
                                return `${splitNumber(data)}<br/>${row.monthCountTitle}`;
                            }
                        },
                        {
                            targets: 3,
                            render: function (data, type, row, meta) {
                                return `${data}<br/>${row.nationalCode}`;
                            }
                        },
                        {
                            targets: 6,
                            responsivePriority: 2,
                            render: function (data, type, row, meta) {
                                let waitingStep = '';
                                if (data.cancelByUser) {
                                    const cancelByUserDescription = "<span style='color:red'>انصراف توسط کاربر</span>";
                                    if ('@((short)StatusEnum.Approved)' == data.statusId)
                                        waitingStep = `${data.lastStatusDescription}(${cancelByUserDescription})`;
                                    else if ('@((short)StatusEnum.Rejected)' == data.statusId)
                                        waitingStep = `${data.lastStatusDescription}(${cancelByUserDescription})`;
                                    else
                                        waitingStep = `${data.lastStatusDescription}(${cancelByUserDescription})`;
                                }
                                else {
                                    if ('@((short)StatusEnum.Approved)' == data.statusId)
                                        waitingStep += data.lastStatusDescription;
                                    else if ('@((short)StatusEnum.Rejected)' == data.statusId)
                                        waitingStep = data.lastStatusDescription;
                                    else {
                                        waitingStep = data.lastStatusDescription;
                                    }
                                }
                                return `<div class="badge badge-pill zl-badge-upload-document"><div class="d-flex align-items-center"><i class="bx bxs-circle font-size-xxsmall mr-25"></i>${waitingStep}</div></div>`;
                            }
                        },
                        {
                            targets: 7,
                            visible:false,// '@User.IsInRole(Core.Entities.RoleEnum.AdminBankLeasing.ToString())' == 'True',
                            render: function (data, type, row, meta) {
                                if (data) {
                                    return `<button data-id='${row.id}' class="btn white zl-bg-secondary sign-contract">امضاء</button>`;
                                }
                                else {
                                    return '<button disabled class="btn btn-outline-secondary">امضاء</button>';
                                }
                            }
                        },
                        {
                            targets: 9,
                            responsivePriority: 3,
                            render: function (data, type, row, meta) {
                                let cancelButtonHtml = '';
                                let buttonsHtml = `<a class="dropdown-item change-status" href='@Url.Action("Detail","RequestFacility")/${data.id}'><i class="bx bx-detail font-medium-5 secondary darken-4 mr-75"></i>جزئیات</a>`;

                                if (!data.cancelByUser) {
                                    if (data.formUrl != null)
                                        buttonsHtml = `<a href='${data.formUrl}' class='dropdown-item change-status'><i class="bx bx-news font-medium-5 secondary darken-4 mr-75"></i>اقدام</a>` + buttonsHtml;

                                }
                                buttonsHtml = buttonsHtml + `<a id='requestHistory' class="dropdown-item request-history" data-request-facility-id='${data.id}' href='javascript:void(0)'><i class="bx bx-detail font-medium-5 secondary darken-4 mr-75"></i>تاریخچه مراحل تسهیلات</a>`;

                                return `<div class="btn-group dropright"><a href="#" class="dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bx bx-dots-horizontal"></i></a><div class="dropdown-menu">${buttonsHtml}</div></div>`;
                            }
                        }],
                    //ajax: {
                    //    url: `/api/v1/RequestFacilityInstallment/SelectInstallment2/${$('#drpApprovalFacility').val()}`,
                    //    type: 'POST',
                    //    dataSrc: function(data) {
                    //        data.recordsTotal = data.data.length;
                    //        data.recordsFiltered = data.data.length;
                    //        return data.data;
                    //    },
                    //    datatype: "json",
                    //    //contentType: "application/json",
                    //    contentType: "application/json; charset=utf-8",
                    //    data: function(input) {
                    //        debugger;
                    //        //if ($('#FacilityTypeId').val() != '')
                    //        //    input.FacilityTypeId = $('#FacilityTypeId').val();

                    //        return JSON.stringify(input);
                    //    },
                    //},
                    ajax: (data, callback, setting) => {
                        getFacilityRequestData(data).then(function (_data) {
                            callback(_data);
                        });
                    },
                    drawCallback: function (settings) {
                        //alert('drawCallback');
                        hideWaiting('requestList');
                    },
                    initComplete: function (settings, json) {
                        //alert('initComplete');
                    },
                    rowCallback: (row, data, displayNum, displayIndex, dataIndex) => {
                        $('td:eq(1)', row).html(displayIndex + 1);
                        return row;
                    },
                    columns: [
                        //{
                        //    //For Row Number
                        //    "data": "Id",
                        //    render: function (data, type, row, meta) {
                        //        return meta.settings.oAjaxData.start + meta.row + 1;
                        //    }
                        //},
                        //{
                        //    "data": "PersonFirstName",
                        //    render: function (data, type) {
                        //        //debugger;
                        //        //if (type === 'display') {
                        //        //    let link = 'http://datatables.net';

                        //        //    if (data[0] < 'H') {
                        //        //        link = 'http://cloudtables.com';
                        //        //    } else if (data[0] < 'S') {
                        //        //        link = 'http://editor.datatables.net';
                        //        //    }

                        //        //    return '<a href="' + link + '">' + data + '</a>';
                        //        //}

                        //        return data;
                        //    },
                        //},
                        { "data": 'id' },
                        { "data": null },
                        { "data": "amount" },
                        { "data": "requester" },
                        { "data": "shamsiCreateDate" },
                        { "data": "shamsiLastActionDate" },
                        { "data": null },
                        { "data": 'canAdminLeasingSignContract', visible: false /*'@User.IsInRole(Core.Entities.RoleEnum.AdminBankLeasing.ToString())' == 'True'*/ },
                        { "data": "operator" },
                        { "data": null },
                    ],
                    language: {
                        url: '/new-layout/datatables.net/fa.json'
                    }
                });

            const getFacilityRequestData = (data) => {
                const postData = {
                    Page: Math.floor(data.start / data.length) + 1,
                    PageSize: data.length,
                    SortDirection: null,
                    SortOrder: null,
                    FilterList: []
                };

                fillFilter(postData);
                return new Promise(function (resolve, reject) {
                    console.log('Loading data');

                    $.ajax({
                        type: 'post',
                        datatype: "json",
                        data: JSON.stringify(postData),
                        contentType: "application/json; charset=utf-8",
                        url: '@ajaxUrl',
                        success: function (result) {
                            if (result != undefined && result.isSuccess == true) {
                                resolve({
                                    data: result.data.data,
                                    recordsTotal: result.data.totalRowCount,
                                    recordsFiltered: result.data.totalRowCount
                                });
                            }
                        },
                        error: function (error) {
                            debugger;
                            const exception = getExceptionMessageFromError(error);
                            if (exception != null)
                                showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                            else
                                showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                        },
                        complete: function () {

                        },
                    });
                });
            }

            $('#requestList tbody').on('click', 'a#requestHistory', function (e) {
                e.preventDefault();
                let data = responsiveDatatable.row(this).data();
                if (data == undefined)
                    data = responsiveDatatable.row($(this).parents('tr')).data();
                loadRequestFacilitySteps(data.id);
                $('#requestFacilityStepsHistoryModal').modal();
            });

            //$("input[type='checkbox'].select-row").change((e) => {
            $('#requestList tbody').on('change', 'input[type="checkbox"].select-row', function (e) {
                debugger;
                if ($(e.target).is(":checked")) {
                    if (jQuery.inArray(parseInt($(e.target).attr("value")), requestFacilityIdArray) === -1)
                        requestFacilityIdArray.push(parseInt($(e.target).attr("value")));
                    if ($("input[type='checkbox'].select-row").length == $("input[type='checkbox'].select-row:checked").length)
                        $('#checkAll').prop('checked', true);
                } else {
                    requestFacilityIdArray.splice(parseInt(jQuery.inArray($(e.target).attr("value")), requestFacilityIdArray), 1);
                    $('#checkAll').prop('checked', false);
                }
                debugger;
            });

            $('#requestList').on('page.dt', function () {
                debugger;
                var info = responsiveDatatable.page.info();
                //$('#pageInfo').html('Showing page: ' + info.page + ' of ' + info.pages);
                console.log('Showing page: ' + info.page + ' of ' + info.pages);
            });

            if ('@User.IsInRole(Core.Entities.RoleEnum.AdminBankLeasing.ToString())' == 'True') {
                $('#requestList tbody').on('click', 'button.sign-contract', function (e) {
                    debugger;
                    e.preventDefault();
                    let data = responsiveDatatable.row(this).data();
                    if (data == undefined)
                        data = responsiveDatatable.row($(this).parents('tr')).data();
                    const requestFacilityId = data.id;
                    confirmMessage("هشدار",
                        'آیا برای امضاء قرارداد مطمئن هستید؟'
                        , icons.warning,
                        'بله،مطمئنم',
                        "خیر،مطمئن نیستم",
                        undefined,
                        () => {
                            SelectCertificateFromTokenByUI(function (selectCertificateResult) {
                                debugger;
                                if (selectCertificateResult == true) {
                                    debugger;
                                    ReadSelectedCertificate(function (readCertificateResult) {
                                        debugger;
                                        if (readCertificateResult == true) {
                                            showWaiting('requestGridDiv', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
                                            data = {
                                                RequestFacilityId: requestFacilityId,
                                                SelectedCertificate: selectedCertificate
                                            };
                                            $.ajax({
                                                type: 'post',
                                                data: JSON.stringify(data),
                                                datatype: "json",
                                                contentType: "application/json; charset=utf-8",
                                                url: `/api/v1/dastine/JustPDFDigestForMultiSign`,
                                                success: function (result) {
                                                    hideWaiting('requestGridDiv');
                                                    debugger;
                                                    if (result.isSuccess) {
                                                        digest = result.data;
                                                        SignMessage(digest, function (signMessageResult) {
                                                            debugger;
                                                            if (signMessageResult == true) {
                                                                //======================
                                                                const postData = {
                                                                    RequestFacilityId: requestFacilityId,
                                                                    SelectedCertificate: selectedCertificate,
                                                                    Digest: digest,
                                                                    Signature: signature
                                                                };
                                                                debugger;
                                                                $.ajax({
                                                                    type: 'post',
                                                                    data: JSON.stringify(postData),
                                                                    datatype: "json",
                                                                    contentType: "application/json; charset=utf-8",
                                                                    url: `/api/v1/dastine/PutPDFSignatureForMultiSign`,
                                                                    success: function (result) {
                                                                        hideWaiting('requestGridDiv');
                                                                        debugger;
                                                                        if (result.isSuccess) {
                                                                            responsiveDatatable.ajax.reload(null, false);
                                                                            const contractLink = `<a href='/UploadFiles/RequestFacilityContract/${result.data}' target='_blank'><b>اینجا<b/></a>`;
                                                                            showMessage('@ResourceFile.InfoTitle', `امضای قرارداد با موفقیت انجام شد<br/>برای مشاهده قرارداد ${contractLink} کلیک کنید!`, icons.success, '@ResourceFile.Close');
                                                                        }
                                                                    },
                                                                    error: function (error) {
                                                                        hideWaiting('requestGridDiv');
                                                                        const exception = getExceptionMessageFromError(error);
                                                                        if (exception != null)
                                                                            showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                                                                        else
                                                                            showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                                                                    }
                                                                });
                                                                //======================
                                                            }
                                                        });
                                                    }
                                                },
                                                error: function (error) {
                                                    hideWaiting('requestGridDiv');
                                                    const exception = getExceptionMessageFromError(error);
                                                    if (exception != null)
                                                        showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                                                    else
                                                        showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                                                }
                                            });
                                        }
                                    });
                                }
                            });
                        });
                });
            }
        }
        //============
        $('#checkAll').change((e) => {
            const checkAllState = $(e.target).prop('checked');
            $('input[type="checkbox"].select-row').prop('checked', checkAllState);

            $("input[type='checkbox'].select-row").each(function () {
                var $this = $(this);

                if ($this.is(":checked")) {
                    if (jQuery.inArray($this.attr("value"), requestFacilityIdArray) === -1)
                        requestFacilityIdArray.push($this.attr("value"));
                } else {
                    requestFacilityIdArray.splice(jQuery.inArray($this.attr("value"), requestFacilityIdArray), 1);
                }
            });
            debugger;
        });

        $('#btnSearch').click((e) => {
            e.preventDefault();
            responsiveDatatable.page(0);
            responsiveDatatable.ajax.reload(null, false);
        });

        $('#btnExportToExcel').click((e) => {
            e.preventDefault();
            // if (!$('#filterForm').valid())
            //     return;

            showWaiting('requestGridDiv', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');;

            const postData = {
                Page: -1,
                PageSize: -1,
                SortDirection: null,
                SortOrder: null,
                FilterList: []
            };

            fillFilter(postData);
            debugger;

            $.ajax({
                type: 'post',
                data: JSON.stringify(postData),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '@ajaxExportUrl',
                success: function (result) {
                    hideWaiting('requestGridDiv');;
                    if (result !== undefined && result !== null && result.data != null && result.isSuccess === true) {
                        debugger;
                        const downloadJsonLink = document.createElement("a");
                        downloadJsonLink.href = `data:application/vnd.ms-excel;base64,${result.data}`;
                        downloadJsonLink.download = "SearchRequestFacility.xlsx";
                        downloadJsonLink.click();
                    }
                },
                error: function (error) {
                    hideWaiting('requestGridDiv');;
                    const exception = getExceptionMessageFromError(error);
                    if (exception != null)
                        showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                    else
                        showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                }
            });
        });

        const fillFilter = (postData) => {
            if ($('#FName').val() != undefined && $('#FName').val() != null && $('#FName').val() != '')
                postData.FilterList.push({
                    PropertyName: 'FName',
                    Operator: @((int)Operator.Contain),
                    PropertyValue: $('#FName').val()
                });

            if ($('#LName').val() != undefined && $('#LName').val() != null && $('#LName').val() != '')
                postData.FilterList.push({
                    PropertyName: 'LName',
                    Operator: @((int)Operator.Contain),
                    PropertyValue: $('#LName').val()
                });

            if ($('#StartDate').val() != undefined && $('#StartDate').val() != null && $('#StartDate').val() != '')
                postData.FilterList.push({
                    PropertyName: 'StartDate',
                    Operator: @((int)Operator.GreaterThanOrEqual),
                    PropertyValue: $('#StartDate').val()
                });

            if ($('#EndDate').val() != undefined && $('#EndDate').val() != null && $('#EndDate').val() != '')
                postData.FilterList.push({
                    PropertyName: 'EndDate',
                    Operator: @((int)Operator.LesserThanOrEqual),
                    PropertyValue: $('#EndDate').val()
                });

            if ($('#PaymentFacilityStartDate').val() != undefined && $('#PaymentFacilityStartDate').val() != null && $('#PaymentFacilityStartDate').val() != '')
                postData.FilterList.push({
                    PropertyName: 'PaymentFacilityStartDate',
                    Operator: @((int)Operator.GreaterThanOrEqual),
                    PropertyValue: $('#PaymentFacilityStartDate').val()
                });

            if ($('#PaymentFacilityEndDate').val() != undefined && $('#PaymentFacilityEndDate').val() != null && $('#PaymentFacilityEndDate').val() != '')
                postData.FilterList.push({
                    PropertyName: 'PaymentFacilityEndDate',
                    Operator: @((int)Operator.LesserThanOrEqual),
                    PropertyValue: $('#PaymentFacilityEndDate').val()
                });

            if ($('#NationalCode').val() != undefined && $('#NationalCode').val() != null && $('#NationalCode').val() != '')
                postData.FilterList.push({
                    PropertyName: 'NationalCode',
                    Operator: @((int)Operator.Equal),
                    PropertyValue: $('#NationalCode').val()
                });

            if ($('#WaitingStepId').val() != undefined && $('#WaitingStepId').val() != null && $('#WaitingStepId').val() != '')
                postData.FilterList.push({
                    PropertyName: 'WaitingStepId',
                    Operator: @((int)Operator.Equal),
                    PropertyValue: parseInt($('#WaitingStepId').val())
                });

            if ($('#StartAmountThousandSeparator').val() != undefined && $('#StartAmountThousandSeparator').val() != null && $('#StartAmountThousandSeparator').val() != '')
                postData.FilterList.push({
                    PropertyName: 'StartAmount',
                    Operator: @((int)Operator.GreaterThanOrEqual),
                    PropertyValue: parseInt($('#StartAmountThousandSeparator').val().replaceAll(',', ''))
                });

            if ($('#EndAmountThousandSeparator').val() != undefined && $('#EndAmountThousandSeparator').val() != null && $('#EndAmountThousandSeparator').val() != '')
                postData.FilterList.push({
                    PropertyName: 'EndAmount',
                    Operator: @((int)Operator.LesserThanOrEqual),
                    PropertyValue: parseInt($('#EndAmountThousandSeparator').val().replaceAll(',', ''))
                });

            let facilityStatusValue = $('input[type="radio"][name="facilityStatus"]:checked').val();
            postData.FilterList.push({
                PropertyName: 'FacilityStatus',
                Operator: @((int)Operator.Equal),
                PropertyValue: parseInt(facilityStatusValue)
            });

            if (requestFacilityIdArray != undefined && requestFacilityIdArray.length > 0) {
                postData.FilterList.push({
                    PropertyName: 'CheckedRequestFacilityIds',
                    Operator: @((int)Operator.Contain),
                    PropertyValue: requestFacilityIdArray
                });
            }
            if ('@User.IsInRole(RoleEnum.BankLeasing.ToString())' == 'True') {
                postData.FilterList.push({
                    PropertyName: 'OperatorId',
                    Operator: @((int)Operator.Equal),
                    PropertyValue: '@User.Identity.GetUserId()'
                });
            }
            if ('@User.IsInRole(RoleEnum.SupervisorLeasing.ToString())' == 'True' || '@User.IsInRole(RoleEnum.AdminBankLeasing.ToString())' == 'True') {
                postData.FilterList.push({
                    PropertyName: 'SearchOperatorId',
                    Operator: @((int)Operator.Equal),
                    PropertyValue: $('#SearchOperatorId').val()
                });
            }
        }

        $('#btnSave').click((e) => {
            e.preventDefault();
            debugger;
            const formIsValid = $('#frmAssignRequestsToUser').valid();

            if ($('#OrganizationUserId').val() == '') {
                showMessage('@ResourceFile.InfoTitle', 'لطفا کارشناس مورد نظر را برای تخصیص درخواست ها انتخاب کنید!', icons.warning, '@ResourceFile.Close');
                return;
            }

            if (formIsValid) {
                showWaiting('frmAssignRequestsToUser', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');
                const postData = {
                    requestFacilityIds: requestFacilityIdArray,
                    operatorId: $('#OrganizationUserId').val()
                };
                debugger;
                $.ajax({
                    type: 'post',
                    data: JSON.stringify(postData),
                    datatype: "json",
                    contentType: "application/json; charset=utf-8",
                    url: '/api/v1/RequestFacility/AssignRequestFacilityToUser',
                    success: function (result) {
                        hideWaiting('frmAssignRequestsToUser');
                        debugger;
                        if (result.isSuccess) {
                            requestFacilityIdArray = [];
                            $('#assignRequestsToUserModal').modal('hide');
                            showMessage('@ResourceFile.InfoTitle', 'درخواست(های) تسهیلات با موفقیت به کارشناس فوق جهت اقدام اختصاص یافت!', icons.success, '@ResourceFile.Close');
                            $('#checkAll').prop('checked', false);
                            $('input[type="checkbox"].select-row').prop('checked', false);
                            responsiveDatatable.page(0);
                            responsiveDatatable.ajax.reload(null, false);
                        }
                    },
                    error: function (error) {
                        hideWaiting('frmAssignRequestsToUser');
                        const exception = getExceptionMessageFromError(error);
                        if (exception != null)
                            showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                        else
                            showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                    }
                });
            }
            else {
                scrollToFirstError();
            }
        });

        $('#btnAssignRequestsToUser').click((e) => {
            debugger;
            e.preventDefault();
            if (requestFacilityIdArray.length == 0) {
                showMessage('@ResourceFile.InfoTitle', 'هیچ درخواست تسهیلاتی برای انتصاب کارشناس انتخاب نشده است', icons.warning, '@ResourceFile.Close');
                return;
            }
            $('#selectedRequestFacilityDescription').html(`<b>${requestFacilityIdArray.length}</b> درخواست تسهیلات جهت اختصاص به کارشناس انتخاب شده است`);
            $('#assignRequestsToUserModal').modal();
        });

        $('#checkAll').change((e) => {
            const checkAllState = $(e.target).prop('checked');
            $('input[type="checkbox"].select-row').prop('checked', checkAllState);

            $("input[type='checkbox'].select-row").each(function () {
                var $this = $(this);

                if ($this.is(":checked")) {
                    if (jQuery.inArray(parseInt($this.attr("value")), requestFacilityIdArray) === -1)
                        requestFacilityIdArray.push(parseInt($this.attr("value")));
                } else {
                    requestFacilityIdArray.splice(parseInt(jQuery.inArray($this.attr("value")), requestFacilityIdArray), 1);
                }
            });
        });
    </script>
}