@{
    ViewData["Title"] = "لیست فروشکاه/نهاد مالی/سازمان";
}
@section styles{
    <style type="text/css">
    </style>
}
<div class="card">
    <div class="card-header" >لیست کاربران</div>
    <div class="card-body" id="requestGridDiv">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <a class="btn btn-outline-primary" asp-controller="Organization" asp-action="Add">
                        ثبت فروشگاه/نهاد مالی/سازمان جدید&nbsp;<i class="fal fa-save"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="paging-div"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-custom">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" data-sortorder="date" >نام</th>
                        <th scope="col" data-sortorder="Tedad" >نوع سازمان</th>
                        <th scope="col" data-sortorder="Tedad" >شناسه ملی/شماره ثبت</th>
                        <th scope="col" data-sortorder="Tedad" >شماره تلفن</th>
                        <th scope="col" data-sortorder="Tedad" >وضعیت</th>
                        <th scope="col" data-sortorder="Tedad" >اقدام</th>
                    </tr>
                </thead>
                <tbody id="requestGridRows">
                    <tr>
                        <td colspan="7" >
                            NoRows
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    @*<tr class="table-primary" style="font-weight:bold">
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                            <td>جمع کل</td>
                            <td id="Mablagh_Sum"></td>
                            <td id="DaftariEghtesadi_Sum"></td>
                        </tr>*@
                </tfoot>
            </table>
        </div>
        <div class="paging-div"></div>
    </div>
    <div class="card-footer"></div>
</div>
<input type="hidden" id="hdnSortOrder" value="CreateDate" />
<input type="hidden" id="hdnSortDirection" value="DESC" />
@section scripts{
    <script>
        const PAGE_SIZE = 10;

        $(document).ready(function () {
            loadOrganizationList();
        });

        $('#requestGridDiv').on('click', 'thead th', function () {
            renderSortColumn(this, 'hdnSortOrder', 'hdnSortDirection', () => { loadOrganizationList(); })
        });

       const loadOrganizationList = (sender) => {
            showWaiting('requestGridDiv', '@ResourceFile.PleaseWait', '@ResourceFile.Loading');

            const sortDirectionValue = $('#hdnSortDirection').val();
            const sortOrderValue = $('#hdnSortOrder').val();
            let currentPage = 1;
            if (typeof $(sender).attr('current-page') !== typeof undefined && $(sender).attr('current-page') !== false)
                currentPage = $(sender).attr('current-page');

            const postData = {
                Page: currentPage,
                PageSize: PAGE_SIZE,
                SortDirection: sortDirectionValue,
                SortOrder: sortOrderValue
            };

            $.ajax({
                type: 'post',
                data: JSON.stringify(postData),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '/api/v1/Organization/OrganizationList',
                success: function (result) {
                    hideWaiting('requestGridDiv');
                    debugger;
                    if (result !== undefined && result !== null && result.isSuccess === true) {
                        renderRequestGrid(result.data.data, result.data.currentPage, PAGE_SIZE);
                        renderNavigation('requestGridDiv', result.data.totalRowCount, result.data.currentPage, result.data.totalPages);
                        resetGridStyle('requestGridDiv', 'hdnSortOrder', 'hdnSortDirection');
                    }
                },
                error: function (error) {
                    debugger;
                    hideWaiting('requestGridDiv');
                    if (error.responseJSON != undefined && error.responseJSON.message != undefined && error.responseJSON.message != '') {
                        const exception = JSON.parse(error.responseJSON.message).Exception;
                        showMessage('@ResourceFile.ErrorTitle', exception, icons.error, '@ResourceFile.Close');
                    }
                    else {
                        showMessage('@ResourceFile.ErrorTitle', '@ResourceFile.UnhandledError', icons.error, '@ResourceFile.Close');
                    }
                },
                complete: function () {

                },
            });
        }

        const renderRequestGrid = (data, currentPage, pageSize) => {
            let rows = '<tr><td colspan="9">@ResourceFile.NoRows</td></tr>';
            if (data.length > 0) {
                rows = '';
                for (var i = 0; i < data.length; i++) {
                    rows += '<tr class="' + (i % 2 == 0 ? 'table-info' : 'table-light') + '">';
                    rows += "<td style=''>" + (((currentPage - 1) * pageSize) + i + 1) + "</td>";
                    rows += "<td>" + data[i].name + "</td>";
                    rows += "<td>" + data[i].organizationTypeName + "</td>";
                    rows += "<td>" + data[i].nationalId + "</td>";
                    rows += "<td style='direction:lrt'>" + data[i].tel + "</td>";                    
                    rows += "<td>" + (data[i].isActive ? 'فعال' : 'غیرفعال') + "</td>";

                    let buttonsHtml = `<a href='@Url.Action("Edit","Organization")/${data[i].id}' class='btn btn-outline-info change-status'>ویرایش</a>`;
                   
                    rows += `<td style=''>${buttonsHtml}</td>`;

                    rows += '</tr>';
                }
            }
            $('#requestGridRows').html(rows);
        }

       const resetGridStyle = (parentGridElementId, hdnSortOrderElementId, hdnSortDirectionElementId) => {
            const sortDirectionValue = $(`#${hdnSortDirectionElementId}`).val();
            const sortOrderValue = $(`#${hdnSortOrderElementId}`).val();

            $(`#${parentGridElementId} thead th`).removeClass("sorted-column");
            $(`#${parentGridElementId} thead th`).addClass("not-sorted-column");

            if (sortOrderValue != undefined || sortOrderValue != '') {
                let sortCell = $(`#${parentGridElementId} *[data-sortorder='${sortOrderValue}']`);
                $(sortCell).removeClass('not-sorted-column');
                $(sortCell).addClass('sorted-column');

                if (sortDirectionValue == undefined || sortDirectionValue == '' || sortDirectionValue.toUpperCase() == "DESC") {
                    $(`#${parentGridElementId}  thead th span`).remove();
                    //$(sortCell).append("<span class='fa fa-chevron-down' style='color:red;position:absolute;margin-right:3px'></span>");
                    $(sortCell).append("<span class='fa fa-chevron-down' style='color:red;margin-right:3px'></span>");
                } else {
                    $(`#${parentGridElementId}  thead th span`).remove();
                    //$(sortCell).append("<span class='fa fa-chevron-up' style='color:green;position:absolute;margin-right:3px'></span>");
                    $(sortCell).append("<span class='fa fa-chevron-up' style='color:green;margin-right:3px'></span>");
                }
            }
        }

       const renderNavigation = (rootElementId, totalRowCount, currentPage, totalPages) => {
            let pagingHtml = '';
            if (totalRowCount > PAGE_SIZE) {
                if (currentPage != 1) {
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="1">@ResourceFile.First</button></li>';
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + (currentPage - 1) + '">@ResourceFile.Prev</button></li>';
                } else {
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@ResourceFile.First</button></li>';
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@ResourceFile.Prev</button></li>';
                }

                let firstPageToDisplay = currentPage - (PAGE_SIZE / 2);

                if (firstPageToDisplay < 1) {
                    firstPageToDisplay = 1;
                }

                for (var pageNumber = firstPageToDisplay; pageNumber < (firstPageToDisplay + PAGE_SIZE); pageNumber++) {
                    if (pageNumber <= totalPages) {
                        if (currentPage == pageNumber) {
                            pagingHtml += '<li class="page-item active">' +
                                '<button class="page-link page-link-active" current-page="' +
                                pageNumber +
                                '">' +
                                pageNumber +
                                '<span class="sr-only">(current)</span>' +
                                '</button>' +
                                '</li>';
                        } else {
                            pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + pageNumber + '">' + pageNumber + '</button></li>';
                        }
                    } else {
                        break;
                    }
                }

                if (currentPage != totalPages) {
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + (currentPage + 1) + '">@ResourceFile.Next</button></li>';
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + totalPages + '">@ResourceFile.Last</button></li>';
                } else {
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@ResourceFile.Next</button></li>';
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@ResourceFile.Last</button></li>';
                }
            }
            pagingHtml = '<nav aria-label="Page navigation example" style="text-align:center"><ul class="pagination">' +
                pagingHtml +
                '</ul><b style="color:#1e88e5">@ResourceFile.TotalRowCount : ' +
                totalRowCount +
                '</b></nav>';

            $(`#${rootElementId} .paging-div`).html(pagingHtml);
            $(`#${rootElementId} .paging-div .page-link-active`).off('click');
            $(`#${rootElementId} .paging-div .page-link-active`).on('click',
                function (e) {
                    e.preventDefault();
                    switch (rootElementId.toLowerCase()) {
                        case 'requestgriddiv':
                            loadOrganizationList(this);
                            break;
                    }
                });
        }
    </script>
}