@{
    ViewData["Title"] = "لیست درخواست های صدور کارت";  
}

@section styles{
    <style type="text/css">
        .rtl .form-check-label, [dir="rtl"] .form-check-label {
            padding-left: 1.5rem !important;
            padding-right: 5px !important;
        }

        ex-h2 {
            line-height: 30px !important
        }

        .date-update {
            float: left;
            color: wheat !important;
            font-size: 12pt !important;
            margin-top: 6px !important;
        }

        .table-custom th,
        .table-custom td {
            text-align: center !important;
            vertical-align: middle !important;
        }

        .SelectedCell {
            font-weight: bold !important;
            background-color: black;
            /*background-color: red;*/
            color: white;
        }

        .NonSelectedCell {
            font-weight: normal !important;
            background-color: black;
            color: whitesmoke;
        }

        .card {
            word-wrap: normal !important;
        }

        .ex-card-header {
            text-align: right !important;
            padding-bottom: 4px !important;
            padding-top: 4px !important;
        }

        .ex-btn-link {
            padding-bottom: 4px !important;
            padding-top: 4px !important;
            color: white !important;
        }

            .ex-btn-link:hover {
                color: #f7e7e7 !important;
            }

        .accordion {
            margin-bottom: 15px !important;
        }

        .bi {
            /*color: #fff;*/
            height: 30px;
            width: 30px;
        }

        /*[type="checkbox"]:not(:checked), [type="checkbox"]:checked,
        [type="radio"]:not(:checked), [type="radio"]:checked {
            position: unset !important;
            right: unset !important;
            opacity: 1 !important;
        }*/

        .header-grid {
            text-align: center !important;
            vertical-align: middle !important;
            min-width: 140px;
        }

        .detail-grid {
            text-align: center;
            padding: 0.65rem !important;
        }

        .card-body {
            padding: 1rem !important;
        }

        .mb-0 {
            line-height: 30px !important;
        }

        .label-value {
            font-weight: bold;
            color: blueviolet;
            padding-right: 10px;
        }

        .form-group-ex {
            margin-bottom: 10px !important
        }

        .form-check-inline {
            margin-bottom: 1rem !important
        }
    </style>

}
<div class="card">
    <div class="card-header">لیست درخواست های صدور کارت</div>
    <div class="card-body" id="agentRequestGridDiv">
        @*<div class="row">
            <div class="col-md-2">وضعیت درخواست</div>
            <div class="col-md-10">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked="checked" name="requestStatusRadio" id="chkApproved" value="@((int)StatusEnum.Approved)">
                    <label class="form-check-label" for="chkApproved">تایید شده</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked="checked" name="requestStatusRadio" id="chkCorrectionComplete" value="@((int)StatusEnum.CorrectionComplete)">
                    <label class="form-check-label" for="chkCorrectionComplete">تکمیل اصلاح/ویرایش</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked="checked" name="requestStatusRadio" id="chkCustomerSelfiToCard" value="@((int)StatusEnum.CustomerSelfiToCard)">
                    <label class="form-check-label" for="chkCustomerSelfiToCard">در انتظار بارگذاری عکس سافی</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked="checked" name="requestStatusRadio" id="chkRegister" value="@((int)StatusEnum.Register)">
                    <label class="form-check-label" for="chkRegister">ثبت اولیه</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked="checked" name="requestStatusRadio" id="chkRejected" value="@((int)StatusEnum.Rejected)">
                    <label class="form-check-label" for="chkRejected">رد شده</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" checked="checked" name="requestStatusRadio" id="chkReturnToCorrection" value="@((int)StatusEnum.ReturnToCorrection)">
                    <label class="form-check-label" for="chkRejected">برگشت جهت اصلاح</label>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button id="btnAddRequestCardCharge" tabindex="5" class="btn btn-outline-success" localize-content>
                    جستجو&nbsp;<i class="fal fa-search"></i>
                </button>
            </div>
        </div>*@
        <div class="paging-div"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-custom">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" data-sortorder="date">نوع درخواست</th>
                        <th scope="col" data-sortorder="Tedad">تاریخ درخواست</th>
                        <th scope="col" data-sortorder="Mablagh">وضعیت درخواست</th>
                        <th scope="col" data-sortorder="Tedad">شماره کارت</th>
                        @*<th scope="col" data-sortorder="Mablagh">مبلغ شارژ(ريال)</th>*@
                        <th scope="col" data-sortorder="DaftariEghtesadi">کارمزد(ريال)</th>
                        <th scope="col" data-sortorder="DescErtebad">نام و نام خانوادگی مشتری</th>
                        <th scope="col" data-sortorder="DaftariEghtesadi">مستندات</th>
                        <th scope="col" data-sortorder="DaftariEghtesadi"></th>
                    </tr>
                </thead>
                <tbody id="agentRequestGridRows">
                    <tr>
                        <td colspan="9">
                            هیچ داده ای وجود ندارد
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    @*<tr class="table-primary" style="font-weight:bold">
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                            <td>جمع کل</td>
                            <td id="Mablagh_Sum"></td>
                            <td id="DaftariEghtesadi_Sum"></td>
                        </tr>*@
                </tfoot>
            </table>
        </div>
        <div class="paging-div"></div>
    </div>
    <div class="card-footer"></div>
</div>
<div class="modal fade left" id="modalChangeStatusRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-left modal-notify modal-info modal-xl" role="document" style="margin-bottom:6rem !important">
        <!-- Content -->
        <div id="modalChangeStatusRequestContent" class="modal-content modal-xl">
            <!-- Header -->
            <div class="modal-header">
                <span style="font-weight: bold;" id="modalTitle">تغییر وضعیت درخواست صدور کارت</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!-- Body -->
            <div class="modal-body" style="">
                <fieldset>
                    <legend localize-content>
                        RequestHistory
                    </legend>
                    <div id="history">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-custom">
                                <thead>
                                    <tr class="table-secondary">
                                        <th scope="col">#</th>
                                        <th scope="col" data-sortorder="Tedad" localize-content>HistoryStatus</th>
                                        <th scope="col" data-sortorder="Mablagh" localize-content>HistoryDate</th>
                                        <th scope="col" data-sortorder="Tedad" localize-content>Creator</th>
                                        <th scope="col" data-sortorder="Mablagh" localize-content>Description</th>
                                    </tr>
                                </thead>
                                <tbody id="historyRows">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend localize-content>
                        اطلاعات مشتری(صاحب کارت)
                    </legend>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">نام مشتری</label>
                                <label id="fname" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">نام خانوادگی مشتری</label>
                                <label id="lname" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">ملیت</label>
                                <label id="nationality" class="control-label label-value" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">شماره پاسپورت</label>
                                <label id="passportId" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">شماره فراگیر</label>
                                <label id="privateNumber" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">موبایل</label>
                                <label id="mobile" class="control-label label-value" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">ایمیل</label>
                                <label id="email" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">پیوست(ها)</label>
                                <div id="attachments_holder"></div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">تصویر عکس سلفی بهمراه کارت</label>
                                <div id="attachment_selfi"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend localize-content>
                        اطلاعات کارت
                    </legend>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">شماره کارت</label>
                                <label id="cardNumber" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">نوع کارت</label>
                                <label id="cardType" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">بانک صادر کننده کارت</label>
                                <label id="bankName" class="control-label label-value" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">نماینده درخواست دهنده</label>
                                <label id="agentFullName" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label">تاریخ درخواست</label>
                                <label id="createDate" class="control-label label-value" />
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="form-group form-group-ex">
                                <label class="control-label" style="display:none">مبلغ شارژ</label>
                                <label id="amount" style="display:none" class="control-label label-value" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset id="requestStatusDiv">
                    <legend localize-content>
                        وضعیت درخواست
                    </legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="requestStatusRadio" id="inlineRadio1" value="@((int)StatusEnum.Approved)">
                        <label class="form-check-label" for="inlineRadio1">تایید درخواست</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="requestStatusRadio" id="inlineRadio2" value="@((int)StatusEnum.ReturnToCorrection)">
                        <label class="form-check-label" for="inlineRadio2">برگشت جهت اصلاح/ویرایش</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="requestStatusRadio" id="inlineRadio3" value="@((int)StatusEnum.Rejected)">
                        <label class="form-check-label" for="inlineRadio3">رد درخواست</label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-group-ex">
                                <label class="control-label">توضیحات مدیر</label>
                                <textarea id="description_admin" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- Footer -->
                <div class="modal-footer justify-content-center" id="footerModalDiv">
                    <button class="btn btn-outline-success waves-effect" id="btnChangeStatus" data-request_id="">تغییر وضعیت درخواست</button>
                    <button class="btn btn-outline-info waves-effect" data-dismiss="modal">بستن</button>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<input type="hidden" id="hdnRequestGridSortOrder" value="CreateDate" />
<input type="hidden" id="hdnRequestGridSortDirection" value="DESC" />
@section scripts{
    <script>
        const PAGE_SIZE = 10;
        $(document).ready(function () {
            loadAgentRequest();
        });

        $('#agentRequestGridDiv').on('click', 'thead th', function () {
            renderSortColumn(this, 'hdnRequestGridSortOrder', 'hdnRequestGridSortDirection', () => { loadAgentRequest(); })
        });

        //$('#customerTrendHazine').on('shown.bs.modal', function () {
        //    if ($('#hdnNewCodeActionSample').val() === '' ||
        //        $('#hdnErtebatCodeAction').val() === '') {
        //        loadAgentRequest();
        //    }
        //});

       const loadAgentRequest = (sender) => {
            showWaiting('agentRequestGridDiv', '@_loc["PleaseWait"]', '@_loc["Loading"]');

            const sortDirectionValue = $('#hdnRequestGridSortDirection').val();
            const sortOrderValue = $('#hdnRequestGridSortOrder').val();
            let currentPage = 1;
            if (typeof $(sender).attr('current-page') !== typeof undefined && $(sender).attr('current-page') !== false)
                currentPage = $(sender).attr('current-page');

            let filters = [];
            if ($('#chkApproved').val())
                filters.push({
                    PropertyName: 'StatusId',
                    Operator : @((int)Operator.Equal),
                    PropertyValue : $('#chkApproved').val()
                });

             if ($('#chkCorrectionComplete').val())
                filters.push({
                    PropertyName: 'StatusId',
                    Operator : @((int)Operator.Equal),
                    PropertyValue : $('#chkCorrectionComplete').val()
                });

             if ($('#chkCustomerSelfiToCard').val())
                filters.push({
                    PropertyName: 'StatusId',
                    Operator : @((int)Operator.Equal),
                    PropertyValue : $('#chkCustomerSelfiToCard').val()
                });


             if ($('#chkRegister').val())
                filters.push({
                    PropertyName: 'StatusId',
                    Operator : @((int)Operator.Equal),
                    PropertyValue : $('#chkRegister').val()
                });

            if ($('#chkRejected').val())
                filters.push({
                    PropertyName: 'StatusId',
                    Operator : @((int)Operator.Equal),
                    PropertyValue: $('#chkRejected').val()
                });

            if ($('#chkReturnToCorrection').val())
                filters.push({
                    PropertyName: 'StatusId',
                    Operator : @((int)Operator.Equal),
                    PropertyValue: $('#chkReturnToCorrection').val()
                });

            const postData = {
                Page: currentPage,
                PageSize: PAGE_SIZE,
                SortDirection: sortDirectionValue,
                SortOrder: sortOrderValue,
                FilterList : filters
            };

            $.ajax({
                type: 'post',
                data: JSON.stringify(postData),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                url: '/api/v1/AgentRequest/GetAllCardIssuanceRequest',
                success: function (result) {
                    hideWaiting('agentRequestGridDiv');
                    if (result !== undefined && result !== null && result.isSuccess === true) {
                        renderRequestGrid(result.data.data, result.data.currentPage, PAGE_SIZE);
                        renderNavigation('agentRequestGridDiv', result.data.totalRowCount, result.data.currentPage, result.data.totalPages);
                        resetGridStyle('agentRequestGridDiv', 'hdnRequestGridSortOrder', 'hdnRequestGridSortDirection');
                    }
                },
                error: function (error) {
                    hideWaiting('agentRequestGridDiv');
                    if (error.responseJSON != undefined && error.responseJSON.Message != undefined && error.responseJSON.Message != '') {
                        if (IsJsonString(error.responseJSON.Message)) {
                            const exception = JSON.parse(error.responseJSON.Message).Exception;
                            showMessage('@_loc["ErrorTitle"]', exception, icons.error, '@_loc["Close"]');
                        }
                        else
                            showMessage('@_loc["ErrorTitle"]', error.responseJSON.Message, icons.error, '@_loc["Close"]');
                    }
                    else {
                        showMessage('@_loc["ErrorTitle"]', '@_loc["UnhandledError"]', icons.error, '@_loc["Close"]');
                    }
                },
                complete: function () {

                },
            });
        }

       const renderRequestGrid = (data, currentPage, pageSize) => {
            let rows = '<tr><td colspan="9">رکوردی برای نمایش وجود ندارد</td></tr>';
            if (data.length > 0) {
                rows = '';
                for (var i = 0; i < data.length; i++) {
                    rows += '<tr class="' + (i % 2 == 0 ? 'table-info' : 'table-light') + '">';
                    rows += "<td style=''>" + (((currentPage - 1) * pageSize) + i + 1) + "</td>";
                    rows += "<td style=''>" +  data[i].requestTypeName + "</td>";
                    rows += "<td style=''>" + (data[i].shamsiUpdateDate != '' ? data[i].shamsiUpdateDate : data[i].shamsiCreateDate) + "</td>";
                    rows += "<td style=''>" + data[i].statusName  + "</td>";
                    rows += "<td style=''>" + data[i].splitCardNumber + "</td>";
                    //rows += "<td style='direction:ltr'>" + splitNumber(data[i].amount) + "</td>";
                    rows += "<td style='direction:ltr'>" + splitNumber(data[i].wage) + "</td>";
                    rows += "<td style=''>" + `${data[i].personFName} ${data[i].personLName}` + "</td>";
                    rows += "<td style='direction:rtl'>" + generateDocumentsLink(data[i].documents, '@_loc["DocNumber"]') + "</td>";
                    if (data[i].statusId == @((short)StatusEnum.CustomerSelfiToCard) ||
                        data[i].statusId == @((short)StatusEnum.InProgress) ||
                        data[i].statusId == @((short)StatusEnum.CorrectionComplete))
                        rows += `<td style=''><button data-agentRequestId='${data[i].id}'  class='btn btn-outline-info change-status'>اقدام</button></td>`;
                    else if (data[i].statusId == @((short)StatusEnum.Register))
                        rows += `<td style=''><button data-agentRequestId='${data[i].id}' class='btn btn-outline-primary show-detail'>در انتظار ارسال عکس سلفی با کارت</button></td>`;
                    else
                        rows += `<td><button data-agentRequestId='${data[i].id}' class='btn btn-outline-success show-detail'>نمایش جزئیات</button></td>`;
                    rows += '</tr>';
                }
            }
            $('#agentRequestGridRows').html(rows);

            $('.change-status').off('click');
            $('.change-status').click((e) => {
                $('#requestStatusDiv').show();
                $('#footerModalDiv').show();
                showModal($(e.target).data('agentrequestid'));
            });

            $('show-detail').off('click');
            $('.show-detail').click((e) => {
                $('#requestStatusDiv').hide();
                $('#footerModalDiv').hide();
                showModal($(e.target).data('agentrequestid'));
            });
        }

      const  clearModalContent = () => {
            $('#fname').text('');
            $('#lname').text('');
            $('#nationality').text('');
            $('#passportId').text('');
            $('#privateNumber').text('');
            $('#mobile').text('');
            $('#email').text('');
            $('#cardNumber').text('');
            $('#cardType').text('');
            $('#bankName').text('');
            $('#agentFullName').text('');
            $('#createDate').text('');
            $('#amount').text('');
            $('#description_admin').val('');
            $('#attachments_holder').empty();
            $('#attachment_selfi').empty();
        }

       const showModal = (agentRequestId) => {
            //$('#dynamicModalGridTitle').text('جزئیات عملکرد مشتری')
            $('#modalChangeStatusRequest').modal();
            showWaiting('modalChangeStatusRequestContent', '@_loc["PleaseWait"]', '@_loc["Loading"]');

            $('#btnChangeStatus').data('request_id', agentRequestId);
            //======Load Agent Request Detail===========
            $.ajax({
                type: 'post',
                //dataType: 'json',
                contentType: "application/json; charset=utf-8",
                url: `/api/v1/AgentRequest/GetAgentRequest/${agentRequestId}/@cultureAccessor.GetCurrentCulture()`,
                data: '{}',
                success: function (result) {
                    hideWaiting('modalChangeStatusRequestContent');
                    if (result.isSuccess) {
                        debugger;
                        const data = result.data;
                        //$('#description_admin').val(data.statusDescription);
                        $('#fname').text(data.personFName);
                        $('#lname').text(data.personLName);
                        $('#nationality').text(data.personCountryName);
                        $('#passportId').text(data.personPassportId);
                        $('#privateNumber').text(data.personPrivateNumber);
                        $('#mobile').text(data.personMobile);
                        $('#email').text(data.personEmail);
                        $('#cardNumber').text(data.splitCardNumber);
                        $('#cardType').text(data.cardTypeTitle);
                        $('#bankName').text(data.bankName);
                        $('#agentFullName').text(data.agentFullName);
                        $('#amount').text(data.amount);
                        $('#createDate').text(data.shamsiCreateDate);
                        $('#attachments_holder').html(generateDocumentsLink(data.documents, '@_loc["DocNumber"]'));
                        $('#historyRows').html(generateAgentHistoryLogRows(data.requestHistory, '@cultureAccessor.GetCurrentCulture()'));
                        if (data.documents != null && data.documents != undefined && data.documents.length > 0) {
                            selfiDoc = data.documents.find((item) => {
                                return item.documentType == @((short)DocumentType.CustomerSelfiToCard);
                            });
                            if (selfiDoc != null && selfiDoc != undefined) {
                                let htmlSelfiPhotoToLink = `<a target='_blank' href='${selfiDoc.filePath}'><img src='${selfiDoc.filePath}' style='width:100px;' alt='@_loc["SelfiPhotoToCard"]' /></a>`
                                $('#attachment_selfi').html(htmlSelfiPhotoToLink);
                            }
                        }
                    }
                },
                error: function (error) {
                    hideWaiting('modalChangeStatusRequestContent');
                    if (error.responseJSON != undefined && error.responseJSON.Message != undefined && error.responseJSON.Message != '') {
                        if (IsJsonString(error.responseJSON.Message)) {
                            const exception = JSON.parse(error.responseJSON.Message).Exception;
                            showMessage('@_loc["ErrorTitle"]', exception, icons.error, '@_loc["Close"]');
                        }
                        else
                            showMessage('@_loc["ErrorTitle"]', error.responseJSON.Message, icons.error, '@_loc["Close"]');
                    }
                    else {
                        showMessage('@_loc["ErrorTitle"]', '@_loc["UnhandledError"]', icons.error, '@_loc["Close"]');
                    }
                }
            });
            //======Load Agent Request Detail===========
        }

        $('#btnChangeStatus').click(e => {
            e.preventDefault();
            showWaiting('modalChangeStatusRequestContent', '@_loc["PleaseWait"]', '@_loc["Loading"]');
            console.log($(e.target).data('request_id'));
            const requestId = $(e.target).data('request_id');
            const requestStatus = $('input[name=requestStatusRadio]:checked').val();
            if (requestStatus == undefined) {
                hideWaiting('modalChangeStatusRequestContent');
                showMessage('@_loc["InfoTitle"]', 'لطفا وضعیت درخواست را انتخاب کنید!', icons.success, '@_loc["Close"]');
                return;
            }
            if (requestStatus == '@((int)StatusEnum.Approved)') {
                const model = {
                    Id: requestId,
                    Status: @Convert.ToInt16(Core.Entities.StatusEnum.Approved),
                    StatusDescription: $('#description_admin').val()
                };
                changeRequestStatus(model);
            }
            else if (requestStatus == '@((int)StatusEnum.ReturnToCorrection)') {
                const model = {
                    Id: requestId,
                    Status: @Convert.ToInt16(Core.Entities.StatusEnum.ReturnToCorrection),
                    StatusDescription: $('#description_admin').val()
                };
                changeRequestStatus(model);
            }
            else if (requestStatus == '@((int)StatusEnum.Rejected)') {
                const model = {
                    Id: requestId,
                    Status: @Convert.ToInt16(Core.Entities.StatusEnum.Rejected),
                    StatusDescription: $('#description_admin').val()
                };
                changeRequestStatus(model);
            }
        });

      const  changeRequestStatus = (model) => {
            $.ajax({
                type: 'post',
                //dataType: 'json',
                contentType: "application/json; charset=utf-8",
                url: '/api/v1/AgentRequest/ChangeStatusCardIssuanceRequest',
                data: JSON.stringify(model),
                success: function (result) {
                    hideWaiting('modalChangeStatusRequestContent');
                    if (result.isSuccess) {
                        $('#modalChangeStatusRequest').modal('hide');
                        if (model.Status == @Convert.ToInt16(Core.Entities.StatusEnum.Approved))
                            showMessage('@_loc["InfoTitle"]', 'درخواست صدور کارت تایید شد', icons.success, '@_loc["Close"]');
                        else if (model.Status == @Convert.ToInt16(Core.Entities.StatusEnum.ReturnToCorrection))
                            showMessage('@_loc["InfoTitle"]', 'درخواست جهت اصلاح/ویرایش به نماینده برگشت داده شد!', icons.success, '@_loc["Close"]');
                        else if (model.Status == @Convert.ToInt16(Core.Entities.StatusEnum.Rejected))
                            showMessage('@_loc["InfoTitle"]', 'درخواست صدور کارت رد شد', icons.success, '@_loc["Close"]');

                        loadAgentRequest();
                    }
                },
                error: function (error) {
                    hideWaiting('modalChangeStatusRequestContent');
                    if (error.responseJSON != undefined && error.responseJSON.Message != undefined && error.responseJSON.Message != '') {
                        if (IsJsonString(error.responseJSON.Message)) {
                            const exception = JSON.parse(error.responseJSON.Message).Exception;
                            showMessage('@_loc["ErrorTitle"]', exception, icons.error, '@_loc["Close"]');
                        }
                        else
                            showMessage('@_loc["ErrorTitle"]', error.responseJSON.Message, icons.error, '@_loc["Close"]');
                    }
                    else {
                        showMessage('@_loc["ErrorTitle"]', '@_loc["UnhandledError"]', icons.error, '@_loc["Close"]');
                    }
                }
            });
        }

      const  resetGridStyle = (parentGridElementId, hdnSortOrderElementId, hdnSortDirectionElementId) => {
            const sortDirectionValue = $(`#${hdnSortDirectionElementId}`).val();
            const sortOrderValue = $(`#${hdnSortOrderElementId}`).val();

            $(`#${parentGridElementId} thead th`).removeClass("sorted-column");
            $(`#${parentGridElementId} thead th`).addClass("not-sorted-column");

            if (sortOrderValue != undefined || sortOrderValue != '') {
                let sortCell = $(`#${parentGridElementId} *[data-sortorder='${sortOrderValue}']`);
                $(sortCell).removeClass('not-sorted-column');
                $(sortCell).addClass('sorted-column');

                if (sortDirectionValue == undefined || sortDirectionValue == '' || sortDirectionValue.toUpperCase() == "DESC") {
                    $(`#${parentGridElementId}  thead th span`).remove();
                    //$(sortCell).append("<span class='fa fa-chevron-down' style='color:red;position:absolute;margin-right:3px'></span>");
                    $(sortCell).append("<span class='fa fa-chevron-down' style='color:red;margin-right:3px'></span>");
                } else {
                    $(`#${parentGridElementId}  thead th span`).remove();
                    //$(sortCell).append("<span class='fa fa-chevron-up' style='color:green;position:absolute;margin-right:3px'></span>");
                    $(sortCell).append("<span class='fa fa-chevron-up' style='color:green;margin-right:3px'></span>");
                }
            }
        }

        const renderNavigation = (rootElementId, totalRowCount, currentPage, totalPages) => {
            let pagingHtml = '';
            if (totalRowCount > PAGE_SIZE) {
                if (currentPage != 1) {
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="1">@_loc["First"]</button></li>';
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + (currentPage - 1) + '">@_loc["Prev"]</button></li>';
                } else {
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@_loc["First"]</button></li>';
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@_loc["Prev"]</button></li>';
                }

                let firstPageToDisplay = currentPage - (PAGE_SIZE / 2);

                if (firstPageToDisplay < 1) {
                    firstPageToDisplay = 1;
                }

                for (var pageNumber = firstPageToDisplay; pageNumber < (firstPageToDisplay + PAGE_SIZE); pageNumber++) {
                    if (pageNumber <= totalPages) {
                        if (currentPage == pageNumber) {
                            pagingHtml += '<li class="page-item active">' +
                                '<button class="page-link page-link-active" current-page="' +
                                pageNumber +
                                '">' +
                                pageNumber +
                                '<span class="sr-only">(current)</span>' +
                                '</button>' +
                                '</li>';
                        } else {
                            pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + pageNumber + '">' + pageNumber + '</button></li>';
                        }
                    } else {
                        break;
                    }
                }

                if (currentPage != totalPages) {
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + (currentPage + 1) + '">@_loc["Next"]</button></li>';
                    pagingHtml += '<li class="page-item"><button class="page-link page-link-active" current-page="' + totalPages + '">@_loc["Last"]</button></li>';
                } else {
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@_loc["Next"]</button></li>';
                    pagingHtml += '<li class="page-item disabled"><button class="page-link">@_loc["Last"]</button></li>';
                }
            }
            pagingHtml = '<nav aria-label="Page navigation example" style="text-align:center"><ul class="pagination">' +
                pagingHtml +
                '</ul><b style="color:#1e88e5">@_loc["TotalRowCount"] : ' +
                totalRowCount +
                '</b></nav>';

            $(`#${rootElementId} .paging-div`).html(pagingHtml);
            $(`#${rootElementId} .paging-div .page-link-active`).off('click');
            $(`#${rootElementId} .paging-div .page-link-active`).on('click',
                function (e) {
                    e.preventDefault();
                    switch (rootElementId.toLowerCase()) {
                        case 'agentrequestgriddiv':
                            loadAgentRequest(this);
                            break;
                    }
                });
        }
    </script>
}
